@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;

    }
    header .logo{
        font-size: 30px;
    }

    
    .tela-principal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position-x: center;
        height: 640px;
    }
    .botao{
        padding: 10px 20px;
        margin-top: 20px;
        width: 300px;
    }
    
}

@media screen and (min-width:1000px){
    .descricao{
        width: 30%;
    }
}